<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="never">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_680828_tysz2sf5l6av2t9.css">
</head>
<body>
<div id="root"></div>
</body>
<script src="/public/vendor.bundle.js"></script>
<script src="/public/bundle.js"></script>
</html>
